<div>
    <ul>
        <li class="user">Nombre: {{user.first_name}}</li>
        <li class="user">Apellido: {{user.last_name}}</li>
        <li class="user">Fecha de nacimiento: {{user.date_of_birth}}</li>
        <li class="user">Email: {{user.email}}</li>
        <li class="user">Tipo de usuario: {{user.role}}</li>
    </ul>
</div>